legend {
	padding: 0px 10px !important;
	width: auto !important;
}

fieldset {
	padding: 15px !important;
	border: 1px solid rgba(21, 202, 219, 0.5) !important;
	border-radius: 3px;
}

.TaskProjectRow {
	margin-top: 10px;
}

.NewTaskForm {
	margin-top: 20px;
}
